@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-skyblack {
    background-color: #010207;
}

.text-gap {
    letter-spacing: 0.2em;
}

::-webkit-scrollbar {
    width: 1px;
}


.w-cust {
    width: 400px;
}

.h-cust {
    height: 500px;
}