@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-skyblack {
    background-color: #010207;
}

.text-gap {
    letter-spacing: 0.2em;
}

::-webkit-scrollbar {
    width: 1px;
}


.w-cust {
    width: 400px;
}

.h-cust {
    height: 500px;
}

@keyframes asteroidMovement {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.asteroid-animation {
    animation: asteroidMovement 2s ease-in-out infinite;
}

.box {
    --mask:
        radial-gradient(115.45px at 50% calc(100% - 158.4px), #000 99%, #0000 101%) calc(50% - 198px) 0/396px 100%,
        radial-gradient(115.45px at 50% calc(100% + 59.4px), #0000 99%, #000 101%) 50% calc(100% - 99px)/396px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

/* .background {
    position: relative;
    top: -50px;
} */